.modal-header {
    color: #f1f1f1;
    background: #333;
}

.modal-body {
    color: #f1f1f1;
    background: #333;
}

.modal-footer {
    color: #f1f1f1;
    background: #333;
}

button {
    border-radius: 10px 5px;
}

input {
    align-items: center;
    margin: 10px;
    border-radius: 10px;
}

.btn {
    background: #ead2ac;
    transition: all 0.7s ease;
}

.btn-view:hover {
    background: #f1f1f1;
    box-shadow: inset 100px 0 0 0 #4CAF50;
}

.btn-cancel:hover {
    background: #f1f1f1;
    box-shadow: inset 0 100px 0 0 #f80707;
}

.btn-add:hover {
    background: #f1f1f1;
    box-shadow: inset 0 0 0 100px #fbb273;
}

input {
    border: 0px;
    color: #f1f1f1;
    background: #333;
}

input::placeholder {
    color: #f1f1f1;
}

input:focus {
    background: #333;
    border: 0px;

}

input:focus:valid {
    color: #f1f1f1;
    background: #333;
    border: 2px outset #45d428;
}

input:valid {
    background: #606c38;
}